body
  font-family: 'Roboto Condensed', sans-serif
  font-weight: 400

span
  font-weight: 400
  color: #FFFFFF

.header-wrapper
  display: flex
  align-items: center
  justify-content: center
  h1
    color: #FFFFFF
    font-weight: 200
    font-size: 4em

.student-name-table
  .student-table-row
    font-size: 20px
    font-weight: 200
    color: #ADADAD

.student-table-header
  font-size: 20px
  font-weight: 400
  color: #7CD1FC
