{% extends 'core_app/base.html' %}
{% block title %}eTracker Login{% endblock %}

{% block body %}
<form  action="{% url 'login_user'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        Username:<br>
        <input type="text" name="username"><br>
    </div>
    <div>
        Password:<br>
        <input type="password" name="password"><br>
        <br>
    </div>
    <div>
        <button type="submit" value="Login">Login</button>
    </div>
</form>
{% endblock %}