.content-wrapper
  transition: transform 0.75s ease
  position: relative

.hidden-student-select
  +transform(translateY(-100vh))

.student-planner-wrapper
  +transform(translateY(-100vh))

.hidden-planner
  +transform(translateY(100vh))

html
  overflow: hidden
