<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eTracker - Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--{% block link %}
    {% load staticfiles %}-->
    <link rel="stylesheet" href="static/core_app/css/planner.css"/>
    <script src="static/core_app/js/angular.min.js"></script>
    <script src="static/core_app/js/student_select.js"></script>
    <script src="static/core_app/js/planner.js"></script>
    <!--{% endblock %}-->
</head>

<body ng-app="plannerApp">
  <div class="content-wrapper student-select-wrapper"
       ng-controller="studentSelectCtrl"
       ng-class="{ 'hidden-student-select': !selectingStudent }">
    <!--Page title-->
    <div class="header-wrapper">
      <h1>STUDENT SELECT</h1>
    </div>

    <!--{% block body %}-->
    <!--Student selector-->
    <div class="student-selector">
      <input type="text" class="subtle-input" placeholder="Search..." ng-model="searchText">
      <div class="student-table-header">
        <div class="cell student-name-cell">Name</div>
        <div class="cell student-id-cell">Student ID</div>
      </div>
      <ul class="student-name-table">
        <li class="student-table-row" ng-repeat="student in students | filter:searchText track by $index"
            id="{[{ 'student-row-' + $index }]}"
            ng-class="{'row-selected': (selectedStudent.id === student.id)}"
            ng-click="selectStudent(student.id, student.name)">
          <div class="cell student-name-cell">{[{ student.name }]}</div>
          <div class="cell student-id-cell">{[{ student.id }]}</div>
        </li>
      </ul>
      <input type="button"
             class="button"
             value="EDIT PLAN"
             id="edit-plan"
             ng-click="editStudentPlan()">
      <div class="button-bottom">
        <a href="{% url 'core_app:home' %}" class="button-logout">&#60; HOME</a>
      </div>
    </div>
    <!--{% endblock %}-->
  </div>
  <div class="content-wrapper student-planner-wrapper"
       ng-controller="plannerCtrl"
       ng-class="{ 'hidden-planner': selectingStudent}">
    <!--Page title-->
    <div class="header-wrapper">
      <h1>{[{ theStudent.name }]}</h1>
    </div>
    <div class="button-bottom">
      <a href="#"
         class="button-logout"
         ng-click="backToStudents()">&#60; STUDENT SELECT</a>
    </div>
  </div>
    <!--{% block bottom%}-->
    <!--{% endblock %}-->
</body>
</html>
