<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eTracker - Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--{% block link %}
    {% load staticfiles %}-->
    <link rel="stylesheet" href="static/core_app/css/planner.css"/>
    <script src="static/core_app/js/angular.min.js"></script>
    <script src="static/core_app/js/student_select.js"></script>
    <script src="static/core_app/js/planner.js"></script>
    <!--{% endblock %}-->
</head>

<body ng-app="plannerApp">
  <div class="content-wrapper student-select-wrapper"
       ng-controller="studentSelectCtrl"
       ng-class="{ 'hidden-student-select': !selectingStudent }">
    <!--Student Selector Title-->
    <div class="header-wrapper">
      <h1>STUDENT SELECT</h1>
    </div>

    <!--Student selector-->
    <div class="student-selector">
      <input type="text" class="subtle-input" placeholder="Search..." ng-model="searchText">
      <div class="student-table-header">
        <div class="cell student-name-cell">Name</div>
        <div class="cell student-id-cell">Student ID</div>
      </div>
      <ul class="student-name-table">
        <li class="student-table-row"
            ng-repeat="student in students | filter:searchText"
            ng-class="{'row-selected': (selectedStudent.id === student.id)}"
            ng-click="selectStudent(student.id, student.name)">
          <div class="cell student-name-cell">{[{ student.name }]}</div>
          <div class="cell student-id-cell">{[{ student.id }]}</div>
        </li>
      </ul>
      <input type="button"
             class="button"
             value="EDIT PLAN"
             id="edit-plan"
             ng-class="{ 'button-disabled' : studentIsEmpty() }"
             ng-click="!studentIsEmpty() && gotoPlanner()">
      <div class="button-bottom">
        <a href="{% url 'core_app:home' %}" class="button-logout">&#60; HOME</a>
      </div>
    </div>
  </div>
  <div class="content-wrapper student-planner-wrapper"
       ng-controller="plannerCtrl"
       ng-class="{ 'hidden-planner': selectingStudent }">

    <!--Planner Title-->
    <div class="header-wrapper">
      <h1>{[{ theStudent.name.toUpperCase() }]}</h1>
    </div>

    <!--Planner Table-->
    <div class="planner-widget-wrapper">
      <span class="course-name-label">{[{ receivedJSON.course.name }]}</span>
      <span ng-repeat="year in theJSON.template" ng-init="parentIndex = $index">
        <span ng-repeat="sem in year">
          <br>Year {[{ $parent.$index + 1 }]} Semester: {[{ $index + 1 }]}
          <span ng-repeat="unit in sem">
            <br>ID: {[{ unit.id }]}
          </span><br>
        </span>
        <br>
      </span>
      <!--<div class="template-table">
      </div>
      <div class="planner-table">
      </div>-->
    </div>

    <div class="button-bottom">
      <a href="#"
         class="button-logout"
         ng-click="backToStudents()">&#60; STUDENT SELECT</a>
    </div>
  </div>
</body>
</html>
